/* Content Section */

.about {
    align-items: center;
    background-image: url('img/bg-content.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;    
    padding: 0rem;
}

.about::before {
    content: '';
    display: flex;
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    padding: 0rem;
    background: linear-gradient(rgba(1, 1, 3, 1)5%, rgba(255, 255, 255, 0)30%);
}

.about::after {
    content: '';
    display: flex;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    padding: 0rem;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1)5%, rgba(255, 255, 255, 0)30%);
}

.about .content {
    display: flex;
    padding: auto;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 100px;
}

.about main {
    text-align: justify;
    margin: auto;
    padding-top: 5%;
}

.about header {
    padding: 2%;
}

.about h1 {
    color: maroon;
    text-shadow: 1px 1px 3px rgba(1, 1, 0, 30);
    line-height: 1.5;
    text-shadow: 1px 1px 3px rgba(1, 1, 0, 30);  
}

.about h2 {
    color: rgb(128, 58, 0);
    font-size: 20px;
    text-shadow: 1px 1px 3px rgba(1, 1, 0, 30);
    line-height: 1.5;
}

.about h5 {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about aside {
    flex:1 ;
    margin-left: 0px;
}

.about .card {
    box-shadow: 20px 20px 20px rgba(1, 1, 3, 0.5);
    border-radius: 5px;
    padding: 20px 40px 20px 20px;
    margin-top: 0px;
}

