* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* background-color: black; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    min-height: 2000px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    width: 100%; 
    background-color: rgba(58, 31, 31, 0.61);
    border-bottom: 2px solid rgb(255, 51, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    color: maroon;
    text-decoration: none;
    display: inline-block;
}

.navbar-logo span {
    color: whitesmoke; /* Atur warna teks pada elemen span */
}

.navbar-nav a {
    color: whitesmoke;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0 1rem;
    gap: 20px;
}

.navbar-nav a:hover {
    color: orangered;
}

.navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.3px solid wheat;
    transform: scaleX(0);
    transition: 0.3s linear;
}

.navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar-extra a {
    color: whitesmoke;
    margin: 0 0.5rem;
}

.navbar-extra a:hover {
    color: black;
}

/* Home Section */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('img/bg-homejpg.jpg');
    
    background-color: rgb(255, 153, 0);
    background-size: cover;
    background-position: center;
    position: relative;
}

.home::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgb(0, 0, 0)8%, rgba(255, 255, 255, 0)50%);
}

.home .content {
    pad: 7%;
    max-width: 100rem;
    margin-left: 5%;
    margin-right: 5%;
    text-shadow: 1px 1px 3px rgba(2, 2, 3, 0.5);
}

.home .content h1 {
    color: rgb(212, 105, 86);
    font-size: 1.8em;
    font-style: italic;
    line-height: 0;
    text-shadow: 2px 3px 3px rgba(109, 0, 0, 2); 
    
}

.home .content h2 {
    font-size: 2em;
    color: maroon;
    line-height: 1.5;
    margin-right: 0;
}

.home .content h2 span {
    font-weight: 400;
}

.home .content p {  
    line-height: 1.5;
    font-weight: 0;
    box-shadow: 2px 2px 3px rgba(1, 1, 3, 0.5);
    padding: 6px;
    text-align: justify;
}

.home .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background-color: rgba(128, 0, 0, 0.8);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 3px rgba(1, 1, 3, 0.5);
}

.home aside {
    width: 100%;
    margin: 0;
    padding-right: 32px;
}