/* IPAD */

@media (max-width: 1024px) {

    /* WRITER */
    .writer .row .about-img img {
        width: 30%;
        height: auto;
        border-radius: 10rem;
        box-shadow: 8px 8px 8px rgba(255, 0, 0, 0.5),
        -8px -8px 8px rgba(255, 0, 0, 0.5),
        -8px 8px 8px rgba(0, 0, 0, 0.5),
        8px -8px 8px rgba(0, 0, 0, 0.5);
    }

    .writer .content p {
        margin-left: 10%;
        margin-right: 10%;
    } 
}
