/* TABLET */

@media (max-width: 600px) {

    /* WRITER */
    .writer h2 {
        text-align: center;
        font-size: 2rem;
        text-shadow: 2px 3px 3px rgba(1, 1, 3, 0.8);
        padding-top: 3rem;
        margin-bottom: 1rem;
        color: mistyrose;
    }
    
    .writer .content h3 {
        font-size: 16px;
    } 

    .writer .content p {
        color: peachpuff;  
        font-size: 14px;
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    } 
}