/* Writer Section */

.writer {
    min-height: 100vh;
    align-items: center;
    background-image: url(img/bg-writer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;    
    padding: 0rem;
}

.writer::before {
    content: '';
    display: flex;
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    padding: 0rem;
    background: linear-gradient(rgba(1, 1, 3, 1)5%, rgba(255, 255, 255, 0)30%);
}

.writer::after {
    content: '';
    display: flex;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    padding: 0rem;
    background: linear-gradient(0deg, rgb(175, 0, 3)5%, rgba(255, 255, 255, 0)30%);
}

.writer h2 {
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 3px 3px rgba(1, 1, 3, 0.8);
    padding-top: 3rem;
    margin-bottom: 1rem;
    color: mistyrose;
}

.writer h2 span {
    color: maroon;
}

.writer .content h3 {
    color: peachpuff;
    padding-top: 1rem;
    padding-bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center; /* Tambahkan properti align-items: center; */
    text-shadow: 2px 3px 3px rgba(255, 0, 0, 0.8); 
} 

.writer .content p {
    color: peachpuff;  
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
} 

.writer .content p table {
    color: whitesmoke;  
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(4, 0, 66, 0.5);
    box-shadow: 2px 2px 3px rgba(1, 1, 3, 5);
}


/* About Section - Image */
.writer row {
    display: flex;
}

.writer .row .about-img {
    display: flex;
    justify-content: center;
    flex: 1 1 20rem;
    position: relative;
}

.writer .row .about-img img {
    width: 20%;
    height: auto;
    border-radius: 10rem;
    box-shadow: 8px 8px 8px rgba(255, 0, 0, 0.5),
    -8px -8px 8px rgba(255, 0, 0, 0.5),
    -8px 8px 8px rgba(0, 0, 0, 0.5),
    8px -8px 8px rgba(0, 0, 0, 0.5);
}

/* ================================================================================ */
.bonus {
    min-height: 60vh;
    background-image: url(img/bonus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;    
    padding: 0rem;
}

.bonus::before {
    content: '';
    display: flex;
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    padding: 0rem;
    background: linear-gradient(rgba(175, 1, 3, 1)5%, rgba(255, 255, 255, 0)30%);
}

.bonus::after {
    content: '';
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    padding: 0rem;
    background: linear-gradient(0deg, rgb(128, 0, 0)2%, rgba(255, 255, 255, 0)30%);
}

footer {
    padding: 10px;
    color: white;
    background-color: maroon;
    text-align: center;
  }